/* partial files */
/* This 'abstracts' dir will host code that doesn't output to CSS */
/* Variables */
/* NOTE - For the browser performance, it is the best to only animate Two Different properties. 
  The Browser is optimized for these two properties - 1. Opacity 2. Transform
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* translate 0 is at the original position, normal point */
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* translate 0 is at the original position, normal point */
    transform: translate(0); } }

@keyframes moveInBottom {
  /* this styles will apply before animation starts by doing 'animation-fill-mode: backwards;' */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    /* translate 0 is at the original position, normal point */
    transform: translate(0); } }

/* 7 - 1  CSS Architecture pattern where we create 7 Folders & 1 Main.scss file */
/* This base partial file is for low level basics such as reset, html styles &  body element selectors etc */
/* universal selector to select all elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* Applying inheritance */
  box-sizing: inherit; }

/* to easily calculate REM unit */
html {
  /* Bad practice on setting font-size in 'pxs' as we cannot change the default root font size 
    The default font size always stays the same.
  */
  /*  100% is equal to the Current Font Size - 16px & Percents are also scalable like ems.
    Think of it this way: 1.5em is 1.5 times larger, and 150% is 150 percent of the font size. 
    Percents are also good for mobile development because of their scalability.

      we want the root font size to be 10px so dividing 10 / 16 = 0.625, .625 * 16 = 10px.
      Note - if we want to make a change to the Root default font size to be 20px, 
       20 / 16 = 1.25, 1.25 * 16 = 20px 
       font-size: 125%; // 20px
*/
  /* 10 px */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* everything related to the font & others goes into body selector */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* it could a component also */
.heading-primary {
  text-transform: uppercase;
  color: #fff;
  /* hack to fix shake in the animation */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* Two Animation properties that is require */
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* Optional Animation properties */
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    /* most important ones */
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* reusable utility styles */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* Button Component with pseduo class */
.btn {
  /* on click */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    /* NOTE - HIGHER VALUES like 100, 200, 500px creates a nice even & SAME radius on the button */
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* trick to fade out */
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    /* less shadow & blur on click */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    /* related to the button */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* hidden behind the button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--pic1 {
      left: 0;
      top: -2rem; }
    .composition__photo--pic2 {
      right: 0;
      top: 2rem; }
    .composition__photo--pic3 {
      left: 20%;
      top: 4rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

/* Nesting */
.header {
  position: relative;
  height: 95vh;
  /* Adding Gradient going from first color to second one & start from left to right bottom side */
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") no-repeat top/cover;
  /* clip-path property lets you clip an element to a basic shape or to an SVG source */
  /* polygon(x y, x y, x y, x y) - x is horizontal & y is vertical of 4 corners */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* https://bennettfeely.com/clippy/ - to get values for different shapes */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* relative to the parent element */
    top: 50%;
    left: 50%;
    /* relative to the Element itself to be at the center */
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
